.m-posts{
  @include row($direction: RTL);
}

.post-tags {
  @include media($bp-tablet) {
    @include span-columns(3);
  }
}

.post-articles {
  @include media($bp-tablet) {
    @include span-columns(9);
  }
}

.pa-archve {
  @include row;
  background: $white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pa-image {
  @include media($bp-tablet) {
    @include span-columns(3);
  }
}

.pa-copy {
  @include row;
  @include media($bp-tablet) {
    @include span-columns(6);
    @include shift(2);
  }
  @include media($bp-desktop) {
    @include span-columns(8);
    @include shift(0);
    padding-top: $normal-padding;
  }
}

.pa-tag {
  float: left;
  border-right: 1px solid $ltblue;
  h3 {
    color: $ltblue;
    font-weight: $base-font-bold;
  }
  padding-left: $normal-padding;
  padding-right: $normal-padding;
  margin-right: $normal-padding;
}

.pa-body {
  padding-left: $normal-padding;
}
